.container {
  background-color: #DEF1F1;
  display: flex;
  justify-content: space-between;
}

.leftSideContainer {
  align-self: flex-start;  /* Needed for position sticky to work inside a flexbox. Source - https://stackoverflow.com/questions/44446671/my-position-sticky-element-isnt-sticky-when-using-flexbox */
  position: sticky;
  top: 0;
}

.center {
  border: 1px solid red;
}